@use "../../styles/breakpoints" as break;

.scroll {
  opacity: .5;

  width: 1.5rem; //24px;
  height: 1.5rem; //24px;

  display: block;
  margin-inline: auto;

  @include break.breakpoint(tablet){
    width: 2.25rem; //36px;
    height: 2.25rem; //36px;
  }
  @include break.landscape(){
    display: none;
  }
}