@use "../../styles/breakpoints" as break;
@use "../../styles/keyframes";
@forward "../../styles/util";

@keyframes reveal-scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @extend .section;

  width: 100%;
  min-height: 100vh;

  @media (max-height: 35.4375em) and (orientation: portrait) {
    padding-top: 2rem;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  height: 152px;
  width: 100%;

  &__animate {
    animation: reveal-animate 1000ms ease-out backwards;
  }

  @include break.breakpoint(tablet) {
    display: flex;
    gap: 1rem;
    justify-content: center;

    height: auto;
    margin-top: 1.5rem;
  }
  @include break.landscape(64em) {
    display: none;
  }
  @include break.breakpoint(desktop) {
    display: none;
  }

  img {
    place-self: center;
    height: 40px;
    width: 40px;
  }
}

.scroll{
  display: block;
  margin-top: 2rem;

  animation: reveal-scroll 1000ms 3s ease-out backwards, ping-animate 400ms 2000ms ease-in-out alternate infinite;

  @include break.landscape(64em){
    display: none;
  }
}