@use "../../styles/breakpoints" as break;
@forward "../../styles/util";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @extend .section;

  width: 100%;
  min-height: 100vh;

  @media (max-height: 35.4375em) and (orientation: portrait) {
    padding-top: 2rem;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  height: 152px;
  width: 100%;

  @include break.breakpoint(tablet) {
    display: flex;
    gap: 1rem;
    justify-content: center;

    height: auto;
    margin-top: 1.5rem;
  }
  @include break.landscape(64em) {
    display: none;
  }
  @include break.breakpoint(desktop) {
    display: none;
  }

  span {
    place-self: center;
    height: 40px;
    width: 40px;
  }
}

.scroll{
  display: block;
  margin-top: 2rem;

  @include break.landscape(64em){
    display: none;
  }
}