@use "../../styles/breakpoints" as break;
@use "../../styles/variables" as *;

@keyframes mobile-avatar-motion {
  from {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes avatar-motion {
  0% {
    transform: scale(0);
    opacity: 0;
  }  
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes avatar-ping {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}

@keyframes mobile-name-title {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes name-title {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes link-motion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem; //24px;
  margin-inline: auto;

  width: 100%;
    
  @include break.breakpoint(tablet) {
    flex-direction: row-reverse;
    width: 70%;
    gap: 1.5rem;
  }
  @include break.landscape() {
    flex-direction: row-reverse;
  }
}

.avatar {
  flex: 1;
  position: relative;

  aspect-ratio: 1/1;

  width: 8.5rem;
  
  @include break.breakpoint(mobile) {
    max-width: 18.5rem;
  }

  img {
    border-radius: 50%;

    animation: avatar-ping 1500ms 2000ms ease-in-out alternate infinite;
  }  
  
  &__animate {
    animation: mobile-avatar-motion 2000ms ease-out backwards;
    
    @include break.breakpoint(desktop){
      animation: avatar-motion 2000ms ease-out backwards;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name_animate {
    animation: mobile-name-title 1000ms 400ms ease-out backwards;

    @include break.breakpoint(desktop) {
      animation: name-title 1000ms 1000ms ease-out backwards;
    }
  }

  @include break.landscape(48em){
    align-items: start;
  }
  @include break.breakpoint(tablet) {
    align-items: start;
  }
}

.links {
  display: none;

  @include break.breakpoint(desktop){
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;

    width: 100%;

    margin-top: .25rem;

    &__animate {
      animation: link-motion 1500ms 1000ms ease-out backwards;
    }
  }
}