@use "../../styles/breakpoints" as break;
@use "../../styles/variables" as *;

.hero {
  display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem; //24px;
  margin-inline: auto;

  width: 100%;
    
  @include break.breakpoint(tablet) {
    flex-direction: row-reverse;
    width: 70%;
    gap: 1.5rem;
  }
  @include break.landscape() {
    flex-direction: row-reverse;
  }
}

.avatar {
  flex: 1;
  position: relative;

  aspect-ratio: 1/1;

  width: 8.5rem;

  @include break.breakpoint(mobile) {
    max-width: 18.5rem;
  }

  img {
    width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
    height: clamp(6.25rem, 25vh, 15rem); //100px 25vh 240px
    
    border-radius: 50%;

    
    @include break.portrait(33.9375em) {
      width: 9rem;
      height: 9rem;
    }

    @include break.breakpoint(tablet) {
      width: 20rem;
      height: 20rem;
    }
    @include break.landscape(52.75em) {
      width: clamp(3.05rem, 42.7vw, 15rem);
      //height: 6.25rem;
      //width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
      height: clamp(6.25rem, 52vh, 15rem); //100px 53vh 240px
    }
  }
}

.title {
  @extend .flex;
  flex-direction: column;
  align-items: center;

  @include break.landscape(48em){
    align-items: start;
  }
  @include break.breakpoint(tablet) {
    align-items: start;
  }
}

.links {
  display: none;

  @include break.breakpoint(desktop){
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;

    width: 100%;

    margin-top: .25rem;
  }
}