@keyframes reveal-animate {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ping-animate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}

@keyframes show-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}