@use "../styles/variables" as *;

.flex {
  display: flex;
  align-items: center;
}

.section {
  scroll-snap-align: start;
}

.transition-colors {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}