@import "./variables";

body {
  font-family: 'Roboto', sans-serif;
  background-color: $zinc-900;
}

.main {
  height: 100vh;
  width: 100%;
}

.container {
  background-color: transparent;
  color: $white;
  
  background-image: url("../assets/backgrounds/mobile.svg");
  @media (min-width: 427px) {
    background-image: url("../assets/backgrounds/tablet.svg");
  }
  @media (min-width: 1022px){
    background-image: url("../assets/backgrounds/desktop.svg");
  }
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
}