@use "./breakpoints" as break;
@forward "./util";
@import "./variables";

.body {
  background-color: $zinc-900;
}

.main {
  min-height: 100vh;
  width: 100%;
}

.logo {
  &__header {
    width: 8rem; // 128px

    @include break.breakpoint(desktop){
      width: 15rem;
    }
    @include break.breakpoint(desktop-lg){
      width: 21.145rem;
    }
  }
}

.background-color {
  background-color: $primary-color;
}

.container {
  background-color: transparent;
  color: $white;
  background-image: url("../assets/backgrounds/mobile.svg");
  
  padding: 0 1.25rem;

  @extend .flex;
    flex-direction: column;

  @include break.breakpoint(mobile) {
    display: block;
  }
  @include break.raw-breakpoint(26.6875em){//427px
    background-image: url("../assets/backgrounds/tablet.svg");
  }
  
  @include break.breakpoint(tablet-lg) {
    background-image: url("../assets/backgrounds/desktop.svg");
  }
  @include break.breakpoint(desktop) {
    padding: 0 auto;
  }
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
  height: 100vh;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.absolute_zero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}