@use "./mixins" as b;
@import "./mixins";
@import "./variables";

.body {
  font-family: 'Roboto', sans-serif;
  background-color: $zinc-900;
}

.main {
  min-height: 100vh;
  width: 100%;
}

.section {
  display: block;
  
  flex: 1;
  /* padding-top: 3.5rem;
  @include b.breakpoints(desktop) {
    padding-top: 6.5rem;
  } */
}

.background-color {
  background-color: $primary-color;
}

.container {
  background-color: transparent;
  color: $white;
  background-image: url("../assets/backgrounds/mobile.svg");

  @include raw-breakpoins(427px){
    background-image: url("../assets/backgrounds/tablet.svg");
  }
  
  @include raw-breakpoins(1024px){
    background-image: url("../assets/backgrounds/desktop.svg");
  }
  
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
  height: 100vh;
  
  overflow-y: scroll;
  overflow-x: hidden;

  @extend .flex;
}

.flex {
  display: flex;
  align-items: center;
}