@use "./variables" as *;

.swiper {
  padding: 2rem !important;
  z-index: 0 !important;
}
.swiper-slide {
  display: flex !important;
  justify-content: center !important;

  filter: brightness(.5);
}
.swiper-slide-active {
  filter: brightness(1) !important;
  transition: 2s;

  #cover-card {
    transform: rotate(0);
    transition: transform .2s;
  }
}
/* .swiper-pagination-bullet-active {
  background-color: $orange-500 !important;
} */
.swiper-button-prev {
  color: $white !important;
}
.swiper-button-next {
  color: $white !important;
}