@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as break;
@forward "../../styles/util";

.projects {
  @extend .section;
  position: relative;

  height: 100vh;
  width: 100%;

  padding-top: 4.5rem;

  @include break.breakpoint(desktop) {
    padding-top: 6rem;
  }
}

.header {
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  justify-items: center;
  gap: 1rem;

  width: 100%;

  padding-bottom: 1rem;

  @include break.breakpoint(tablet) {
    gap: .5rem;
  }

  @include break.breakpoint(tablet-lg) {
    width: 80%;
    margin-inline: auto;
  }

  @include break.breakpoint(desktop) {
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
    padding-bottom: 2rem;
  }
  @include break.breakpoint(desktop-lg){
    grid-template-columns: repeat(4, minmax(232px, 1fr));
  }
}