@use "../../styles/breakpoints" as break;
@use "../../styles/variables" as *;

.heading {
  display: flex;
  align-items: center;
  gap: 1.5rem; //24px;
  justify-content: center;

  &__sub {
    display: block;
    height: 1px;
    width: 1.25rem; //20px;
    background-color: $white;

    @include break.breakpoint(tablet) {
      width: 2rem;
      height: .125rem;
    }

  }
}

.size {
  &__lg {
    font-size: 2rem; //32px

    @include break.breakpoint(tablet) {
      font-size: 3.5rem; //56px
    }
  }
  &__md {
    font-size: 1.5rem; //24px

    @include break.breakpoint(tablet) {
      font-size: 2rem; //32px
    }
  }
  &__sm {
    font-size: 1rem; //16px

    @include break.breakpoint(tablet) {
      font-size: 1.5rem; //24px
    }
  }
}