@use "../../styles/mixins" as b;
@use "../../styles/breakpoints" as break;
//@import "../../styles/mixins";
@forward "../../styles/util";
@import "../../styles/variables";
//@import "../../styles/global.scss";

.heading {
  @extend .flex;
    gap: 1.5rem; //24px;
    justify-content: center;

  &__sub {
    display: block;
    height: 1px;
    width: 1.25rem; //20px;
    background-color: $white;

  }
}

.size {
  &__lg {
    font-size: 2rem; //32px

    @include break.breakpoint(tablet) {
      font-size: 3.5rem; //56px
    }
  }
  &__md {
    font-size: 1.5rem; //24px

    @include break.breakpoint(tablet) {
      font-size: 2rem; //32px
    }
  }
  &__sm {
    font-size: 1rem; //16px

    @include break.breakpoint(tablet) {
      font-size: 1.5rem; //24px
    }
  }
}