@use "../../styles/mixins" as b;
@import "../../styles/variables";
@import "../../styles/global.scss";

.heading {
  @extend .flex;
  gap: 1.5rem; //24px;
  width: 15rem; //240px;

  &__sub {
    display: block;
    height: 1px;
    width: 1.25rem; //20px;
    background-color: $white;

  }
}

.size {
  &__lg {
    font-size: 2rem; //32px

    @include b.breakpoints(desktop) {
      font-size: 3.5rem; //56px
    }
  }
  &__md {
    font-size: 1.5rem; //24px

    @include b.breakpoints(desktop){
      font-size: 2rem; //32px
    }
  }
  &__sm {
    font-size: 1rem; //16px

    @include b.breakpoints(desktop){
      font-size: 1.5rem; //24px
    }
  }
}