@use "../../styles/breakpoints" as break;
@import "../../styles/global";
@import "../../styles/variables";

.header {
  position: fixed;
  width: 100vw;
  height: 3.5rem; //56px
  padding: 1.25rem .5rem; // 20px 8px

  border-bottom: 1px solid $zinc-700;
  
  @extend .flex;
  justify-content: space-between;
  
  @extend .background-color;
  
  z-index: 10;
  
  font-weight: bold;

  @include break.breakpoint(desktop){
    height: 5rem;
  }
  @include break.breakpoint(desktop-lg){
    height: 6.25rem;
  }

  &__mobile_container {
    @extend .background-color;

    width: 100vw;
    height: 3.438rem; //55px
    padding: 1.25rem .5rem; // 20px 8px

    position: absolute;
    top: 0;
    left: 0;

    @extend .flex;
    justify-content: space-between;

    @include break.breakpoint(desktop){
      position: relative;
      width: auto;
    }
  }

  &__toggle {
    background-color: transparent;
    color: $gray-200;

    border: none;

    @include break.breakpoint(desktop) {
      display: none;
    }
  }
}

.nav {
  @extend .background-color;

  border-bottom: 1px solid $zinc-700;
  
  position: absolute;
  top: -12.5rem; //-200px
  left: 0;
  z-index: -1;
  
  width: 100%;

  transition: .5s;

  ul {
    @extend .flex;
    flex-direction: column;
    gap: .25rem; //4px

    padding: 4rem 4.375rem 2rem; //64px 70px, 32px
  }

  a {
    color: $gray-400;
    text-decoration: none;
    font-size: 1rem; //16px

    transition: colors .5s;

    &:hover {
      color: $white;
    }

    @include break.breakpoint(desktop) {
      font-size: 1.125rem; //18px
    }
    @include break.breakpoint(desktop-lg) {
      font-size: 1.5rem; //24px
    }
  }

  @include break.breakpoint(desktop) {
    position: relative;
      top: 0;
    
    width: auto;
    
    border: none;

    transition: none;

    ul {
      flex-direction: row;
      padding: 0;
      gap: 1.625rem; //26px
    }
  }

  &__active {
    top: 0 !important;
  }
}