@use "../../styles/breakpoints" as break;
@use "../../styles/variables" as *;
@forward "../../styles/util";
@forward "../../styles/global";

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.5rem;

  border-bottom: 1px solid $zinc-700;

  @extend .background-color;

  @include break.breakpoint(desktop) {
    height: 5rem;
    padding: 1.25rem .5rem;

    display: flex;
    align-items: center;
  }

  @include break.breakpoint(desktop-lg) {
    height: 6.25rem;
  }
}