@use "../../styles/breakpoints" as break;
@use "../../styles/variables" as *;

.footer {
  background-color: $primary-color;
  height: 14.5rem;
  padding: 1rem;
}

.container {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  
  @include break.breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 36rem;

    margin-inline: auto;
  }

  .contacts {
    max-width: 9.125rem;

    span {
      font-size: .75rem;

      @include break.breakpoint(tablet){
        font-size: 1rem;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: .75rem;

    @include break.breakpoint(tablet){
      justify-content: space-between;
      margin: .75rem 0;
    }

    a {
      svg {
        width: 1.25rem;

        @include break.breakpoint(tablet){
          width: 2rem;
        }
      }
    }
  }
}

.copy {
  display: block;
  text-align: center;
  margin-top: .5rem;

  color: $zinc-700;
  font-size: .75rem;
}