@use "../../styles/mixins" as b;
@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.avatar {
  position: relative;

  @extend .flex;
  justify-content: center;

  background-image: url("../../assets/blob.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__image {
    width: 15rem; //240px;
    height: 15rem; //240px;
    
    border-radius: 50%;

    @include raw-breakpoins(600px, true){
      width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
      height: clamp(6.25rem, 25vh, 15rem); //100px 25vh 240px
    }

    @include b.breakpoints(tablet-sm){
      width: 20rem; //320px
      height: 20rem; //320px
    }

    @include raw-landscape(845px){
      width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
      height: clamp(6.25rem, 53vh, 15rem); //100px 53vh 240px
    }
  }
}