@use "../../styles/breakpoints" as break;
@forward "../../styles/util";

.avatar {
  position: relative;

  @extend .flex;
    justify-content: center;

  background-image: url("../../assets/blob.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__image {
    width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
    height: clamp(6.25rem, 25vh, 15rem); //100px 25vh 240px
    
    border-radius: 50%;

    @include break.breakpoint(tablet) {
      width: 20rem;
      height: 20rem;
    }
    @include break.landscape(52.75em) {
      width: clamp(6.25rem, 100%, 15rem); //100px 100% 240px
      height: clamp(6.25rem, 53vh, 15rem); //100px 53vh 240px
    }
  }
}