@import "../../styles/keyframes";

.blobs {
  position: fixed;
  filter: blur(8px);
  
  width: 587px;
  height: 573px;
  
  top: 30%;
  z-index: -1;

  &__blobOne {
    top: 15%;
    left: -100%;

    animation: blobone-sm-m 50000ms infinite;
  }
  &__blobTwo {
    bottom: 30%;
    right: -70%;

    animation: blobtwo-sm-m 50000ms infinite;
  }
}