@use "../../styles/breakpoints" as break;
@use "../../styles/keyframes";

.image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  height: 152px;
  width: 100%;

  @include break.breakpoint(tablet){
    display: flex;
      gap: 1rem; //16px

    height: auto;

    margin-top: 1.5rem; //24px
  }

  @include break.landscape(63.9375em){
    display: none;
  }
}

.animate {
  animation: reveal-animate 1000ms ease-out backwards;
}