//@use "../../styles/mixins" as b;
@use "../../styles/breakpoints" as break;
//@import "../../styles/mixins";

.image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  height: 152px;
  width: 100%;
  
  &__container {
    place-self: center;
  }
  
  &__logo {
    height: 40px;
    width: 40px;
  }

  @include break.breakpoint(tablet){
    display: flex;
      gap: 1rem; //16px

    height: auto;

    margin-top: 1.5rem; //24px
  }

  @include break.landscape(63.9375em){
    display: none;
  }
  
  /* @include raw-landscape(560px, false){
    display: flex;
      gap: .2rem;
      justify-content: center;

    height: auto;

    margin-top: .1rem; //1.6px
  } */

  @include break.breakpoint(tablet-lg) {
    display: none;
  }
  /* @include b.breakpoints(desktop) {
    margin-top: 1.5rem;
  } */
}